.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 2px ridge;
    min-height: 300px;
}

.footer{
    color: floralwhite;
    background-color: #292b2c;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-image: url("img/bg.jpg");
    /* background: #53588a; */
    color: floralwhite;
}
.address{
    font-size: 80%;
    color: floralwhite;
    margin: 0px;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    margin: auto;
    /* background-color: #4e5052;
    color: floralwhite; */
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;

}
.carousel {
    background: #53588a;
}

.carousel-item {
  height: 250px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
    width: 100%;
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.navbar-dark{
    background: #292b2c;
}
/* .card{
    color: black;
} */
.new{
  background-image: url("img/back.jpg");
  min-height: 700px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  padding: 100px 0px 100px 0px;
}
